@using Factory.Models
@model Engineer
@{
  ViewData["Title"] = "Engineers";
  ViewBag.EngineerId = Model.EngineerId;
}

<h1>Engineer Information</h1>

<a 
  asp-controller="Engineer"
  asp-action="Edit"
  asp-route-engineerId="@Model.EngineerId"
  class="btn btn-secondary" 
>Edit</a>

<dl>
  <dt>Name</dt>
  <dd>@Model.Name</dd>
</dl>


<div class="card">
  <div class="card-header">
    <h2>Machines Licensed For</h2>
  </div>

  <div class="card-body">
    <form 
      asp-controller="Engineer"
      asp-action="AddMachine"
      asp-route-engineerId="@Model.EngineerId"
    >
      <div class="input-group">
        <button type="submit" class="btn btn-primary">Add Machine License</button>
        <select
          asp-items="@ViewBag.Machines"
          name="machineId"
          class="form-select"
          required
        ></select>
      </div>
    </form>

    <partial name="_LinkedMachinesTable.cshtml" model="@Model.Machines" />
  </div>
</div>